.water {
     background-color: white;
     height: 1200px;
}
.margin {
     /*background-color: #000F00;*/
     background-color: white;
     height: 1200px;
}
.force {
     position: absolute;
     z-index: 15;
     
}
.pad {
     margin-top:  10px;
     
}
#footer {
     width: 100%;
     height: 100px;
     z-index: 15;
}
#cpr {
     padding-top: 25px;
}
